files:
  "/etc/nginx/conf.d/gzip.conf" :
    content: |
      gzip_types application/json;
option_settings:
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: "vpc-bf7511da"
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: "subnet-bbe85ce2,subnet-53aa3a24"
  - namespace: aws:autoscaling:asg
    option_name: MinSize
    value: "1"
  - namespace: aws:autoscaling:asg
    option_name: MaxSize
    value: "1"
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: "sg-2964ad4d, sg-da4693be"
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: "t2.micro"
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: "npm start"
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: "0.12.6"
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: "nginx"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: pageenv
    value: "prod"





