files:
  "/etc/nginx/conf.d/gzip.conf" :
    content: |
      gzip_types application/json;
option_settings:
  aws:ec2:vpc:
    VPCId: "vpc-bf7511da"
    Subnets: "subnet-bbe85ce2,subnet-53aa3a24"
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
  aws:autoscaling:launchconfiguration:
    SecurityGroups: "sg-2964ad4d, sg-da4693be"
    InstanceType: t2.micro
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: "0.12.6"
    ProxyServer: "nginx"
    GzipCompression: "true"
  aws:elasticbeanstalk:application:environment:
    pageenv: "prod2346"





